{"day":"2026-07-13","source":"screenshot","clock":"22:14","whoop_file":"Screenshot_20260713_221450_WHOOP.jpg","noop_file":"Screenshot_20260713_221541_NOOP.jpg","stress_tip":null,"stress_band":null,"noop_tip":null,"serial":"export:20260713-Noop_mg"}
{"day":"2026-07-13","source":"screenshot","clock":"22:14","whoop_file":"Screenshot_20260713_221457_WHOOP.jpg","noop_file":"Screenshot_20260713_221541_NOOP.jpg","stress_tip":null,"stress_band":null,"noop_tip":null,"serial":"export:20260713-Noop_mg"}
{"day":"2026-07-13","source":"screenshot","clock":"22:15","whoop_file":"Screenshot_20260713_221505_WHOOP.jpg","noop_file":"Screenshot_20260713_221541_NOOP.jpg","stress_tip":null,"stress_band":null,"noop_tip":null,"serial":"export:20260713-Noop_mg"}
{"day":"2026-07-13","source":"screenshot","clock":"22:15","whoop_file":"Screenshot_20260713_221509_WHOOP.jpg","noop_file":"Screenshot_20260713_221541_NOOP.jpg","stress_tip":null,"stress_band":null,"noop_tip":null,"serial":"export:20260713-Noop_mg"}
{"day":"2026-07-13","source":"screenshot","clock":"22:15","whoop_file":"Screenshot_20260713_221517_WHOOP.jpg","noop_file":"Screenshot_20260713_221541_NOOP.jpg","stress_tip":null,"stress_band":null,"noop_tip":null,"serial":"export:20260713-Noop_mg"}
{"day":"2026-07-13","source":"screenshot","clock":"22:15","whoop_file":"Screenshot_20260713_221522_WHOOP.jpg","noop_file":"Screenshot_20260713_221541_NOOP.jpg","stress_tip":null,"stress_band":null,"noop_tip":null,"serial":"export:20260713-Noop_mg"}
{"day":"2026-07-13","source":"screenshot","clock":"22:26","whoop_file":"Screenshot_20260713_222622_WHOOP.jpg","noop_file":"Screenshot_20260713_222725_NOOP.jpg","stress_tip":null,"stress_band":null,"noop_tip":null,"serial":"export:20260713-Noop_mg"}
