{"day":"2026-07-12","source":"screenshot","clock":"17:34","whoop_file":"Screenshot_20260712_173402_WHOOP.jpg","noop_file":"Screenshot_20260712_173426_NOOP.jpg","stress_tip":null,"stress_band":null,"noop_tip":null,"serial":"export:20260712-Noop_stresd"}
{"day":"2026-07-12","source":"screenshot","clock":"17:34","whoop_file":"Screenshot_20260712_173405_WHOOP.jpg","noop_file":"Screenshot_20260712_173426_NOOP.jpg","stress_tip":null,"stress_band":null,"noop_tip":null,"serial":"export:20260712-Noop_stresd"}
{"day":"2026-07-12","source":"screenshot","clock":"17:34","whoop_file":"Screenshot_20260712_173412_WHOOP.jpg","noop_file":"Screenshot_20260712_173426_NOOP.jpg","stress_tip":null,"stress_band":null,"noop_tip":null,"serial":"export:20260712-Noop_stresd"}
